<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="sign.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>
    <h1>customer</h1>
    <form action="/customer" method="POST">
        <div class="container"> 
            <div class="row"> 
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            </div>

            <div class="row"> 
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>

            <div class="row"> 
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="row"> 
                <label for="gender">Gender</label>
                <input type="text" id="gender" name="gender" placeholder="Gender" required>
            </div>

            <div class="row"> 
                <label for="nationality">Nationality</label>
                <input type="text" id="nationality" name="nationality" placeholder="Nationality" required>
            </div>

            <div class="row"> 
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required>
            </div>

            <div> 
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>

