<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <a href="./signup"> SignUp </a> <span> <a class="about"> About</a> </span>
    <hr>
    
    <h1>Login</h1> 
 
    <form action="/login" method="POST">
        <div class="container">
            <div class="message">
                <%=message %>
            </div>
           
            <div class="row"> 
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="row"> 
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <div class="row"> 
                <input type="hidden" id="admin" name="admin">
            </div>

            <div class="submit_btn"> 
                <button onclick="setInputValue()" type="submit">Login</button>
            </div>
        </div>
    </form>    
    <hr>
    <script> 
    // function setInputValue(){
    // //Getting an id from admin input
    // const fromAdmin = document.getElementById('admin');
    // fromAdmin.value = 'Admin';
    // }
    


    
    </script>
</body>
</html>