<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thankyou</title>
    <link rel="stylesheet" href="thankyou.css">
</head>
<body>
    <div class="back_button">
        <a  href="rooms"> <img  src="/images/logut.png"  width="30" > </a>
       </div>

    <div style="text-align: center; margin: 20px;">
        <div class="thankyou"> 
            <%=message %>
        </div>
        <p>Thank you for using High-Sky Hotel.</p>

        <p>If you have any questions or need assistance, don't hesitate to reach out to our friendly support team at  <strong> kabwalimuuka@gmail.com. </strong></p>
        
        <p>Thank you again for choosing <strong> [High-Sky Hotel]. </strong> We look forward to being part of your journey and helping you experience the best of our offers.</p>
    </div>
</body>
</html>