<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="reserve.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve room</title>
</head>
<body>
    <div class="back_button"><a  href="index"> <img src="/images/logut.png"  width="30" > </a> </div>

    <div> 
        <!-- reserve.ejs -->
<h1>Reserved Dates</h1>
    <ul>
    <% if (bookedDates) { %>
        <% bookedDates.forEach(booking => { %>
        <li>
            Room: <%= booking.room_number %>
            Check-in: <%= booking.checkin %>
            Check-out: <%= booking.checkOut %>
        </li>
        <% }); %>
    <% } else { %>
        <li>No booked dates available</li>
    <% } %>
    </ul>

    </div>
    <h1>Reserved Room</h1>
    <hr>


   
</body>
</html>