<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Room 4</title>
</head>
<body>
    <h1> Book a room</h1>
    <div class="back_button">
        <a  href="index"> <img  src="/images/logut.png"  width="40" > </a>
       </div>

    <div class="room-card">
        <div class="image-container">
            <img src="/images/img4.jpg" id="img4" alt="Room 4" width="500">
        </div>

        <form action="/bookaRoom" method="POST">
            <div class="room-details">

                <div class="form-row">
                    <span class="label"><strong>Check-in:</strong></span>
                    <input type="date" name="checkIn">
                </div>
    
                <div class="form-row">
                    <span class="label"><strong>Check-out:</strong></span>
                    <input type="date" name="checkOut" >
                </div>
                
            
                <div class="description">
                    <span class="label"><strong>Description:</strong></span>
                    <p>
                        As our smallest budget rooms, the Compact bedrooms are
                        suited for single occupancy or short-stay double occupancy
                        as they have limited space and storage.</p>
                </div>
    
                <div class="price">
                    <span class="label"><strong>Price:</strong></span>
                    <p>K350</p>
                </div>
    
                <div class="room-number">
                    <span class="label"><strong>Room Number:</strong></span>
                    <p>76</p>
                </div>
                <div class="content-grids">
                    <div class="wrap">
                    <div class="content-grid">
                        <div class="content-grid-pic">
                            <a href="#"><img src="images/paypal.png" title="image-name" /></a>
                        </div>
                        <div class="content-grid-info">
                         
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="content-grid">
                        <div class="content-grid-pic">
                            <a href="#"><img src="images/zanaco.png" title="image-name" /></a>
                        </div>
                        <div class="content-grid-info">
                           
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="content-grid">
                        <div class="content-grid-pic">
                           
                        </div>
                        <div class="content-grid-info">
                            
                        </div>
                        <div class="clear"> </div>
                    </div>
    
                <button onclick="Pick('img1')">Book a Room</button>
        </form>
        </div>
    </div>
</body>
</html>
