<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="rooms.css">
    <title>Room 1</title>
</head>
<body>
    <div class="back_button">
        <a  href="index"> <img  src="/images/logut.png"  width="30" > </a>
       </div>

    <div class="room-card">
        <div class="image-container">
            <img src="/images/img3.jpg" id="img3" alt="Room 3" width="500">
        </div>

        <div class="room-details">
            <div class="form-row">
                <span class="label"><strong>Check-in:</strong></span>
                <input type="date" name="checkin" id="checkin">
            </div>

            <div class="form-row">
                <span class="label"><strong>Check-out:</strong></span>
                <input type="date" name="checkout" id="checkout">
            </div>

            <div class="description">
                <span class="label"><strong>Description:</strong></span>
                <p>Yellowish room with a beautiful view of the city. A package diagram 
                    of the four subsystems (Resort
                    relations, Student booking, Accounting and
                    finance, and Social networking) that includes all
                    the problem domain classes.</p>
            </div>

            <div class="price">
                <span class="label"><strong>Price:</strong></span>
                <p>K500</p>
            </div>

            <div class="room-number">
                <span class="label"><strong>Room Number:</strong></span>
                <p>67</p>
            </div>

            <button onclick="Pick('img3')">Pick</button>
        </div>
    </div>
</body>
</html>
