<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="rooms.css">
    <title>Room 2</title>
</head>
<body>
    <div class="back_button">
        <a  href="index"> <img  src="/images/logut.png"  width="30" > </a>
       </div>

    <div class="room-card">
        <div class="image-container">
            <img src="/images/img2.jpg" id="img2" alt="Room 2" width="500">
        </div>

        <form action="/bookaRoom" method="POST">
            <div class="room-details">

                <div class="form-row">
                    <span class="label"><strong>userid</strong></span>
                    <input class="CustomerID" type="number" name="userid">
                </div>

                <div class="form-row">
                    <span class="label"><strong>Check-in:</strong></span>
                    <input type="date" name="checkIn">
                </div>
    
                <div class="form-row">
                    <span class="label"><strong>Check-out:</strong></span>
                    <input type="date" name="checkOut" >
                </div>

                <div class="form-row">
                    <span class="label"><strong>room_number:</strong></span>
                    <input type="number" name="room_number" >
                </div>

                <div class="description">
                    <span class="label"><strong>Description:</strong></span>
                    <p>
                        Our Deluxe king size room has a seating area, ample storage, 
                        digital safe and mini fridge. This room can also be configured with an extra roll-away 
                        bed for families of 3.</p>
                </div>
    
                <div class="price">
                    <span class="label"><strong>Price:</strong></span>
                    <p>K500</p>
                </div>
    
                <div class="room-number">
                    <span class="label"><strong>Room Number:</strong></span>
                    <p>54</p>
                </div>

    
                <button onclick="Pick('img2')">Pick</button>
        </form>
        </div>
    </div>
</body>
</html>
