<!-- <!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="back_button"><a  href="login"> <img src="/images/logut.png"  width="30" > </a>
    </div>
    <h1>signUp</h1> 
    <form action="/signUp" method="POST">
        <div class="container"> 
            <div class="message">
                <%=message %>
            </div>
            <div class="row"> 
                <label for="username">Username</label>
                <input type="text" id="firstName" name="username" placeholder="Username" required>
            </div>

            <div class="row"> 
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="row"> 
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>

            <div class="submit_btn"> 
                <button  type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>
 -->


<!DOCTYPE html>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
  <link rel="stylesheet" href="./login.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
      <div class="back_button">
        <a  href="login"> <img  src="/images/logut.png"  width="30" > </a>
      </div>

<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="signup"  role="tab" data-toggle="tab">Sign up</a></li>
          
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="signup">
           <div class="message"> 
            <%=message%>
           </div>
            <form action="/sign_up" method="POST">
              
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name<span class="req">*</span> </label>
                    <input type="text" class="form-control" name="firstname" id="first_name" required data-validation-required-message="Please enter your name." autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label> Last Name<span class="req">*</span> </label>
                    <input type="text" class="form-control" name="lastname" id="last_name" required data-validation-required-message="Please enter your name." autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label> Your Email<span class="req">*</span> </label>
                <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
    
              <div class="form-group">
                <label> Password<span class="req">*</span> </label>
                <input type="password" class="form-control" name="password" id="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="mrgn-30-top">
                <button type="submit" class="btn btn-larger btn-block">
                Sign up
                </button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container --> 
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- partial -->
<script  src="./login.js"></script>
</body>
</html>
