<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thankyou</title>
    <link rel="stylesheet" href="thankyou.css">

</head>
<body>
    <div class="back_button">
        <a  href="login"> <img  src="/images/logut.png"  width="30" > </a>
       </div>

    <div style="text-align: center; margin: 20px;">
        <div class="thankyou"> 
            <%=message %>
        </div>
        <p>Thank you for signing up with us. We're excited to have you on board.</p>
        <p>Your new account is all set and ready to go.</p>
        
        <h2>What to do next: Just login and Start</h2>

        <ul>
            <li>Exploring our vast collection of rooms.</li>
        </ul>
        
        <p>If you have any questions or need assistance, don't hesitate to reach out to our friendly support team at  <strong> kabwalimuuka@gmail.com. </strong></p>
        
        <p>Thank you again for choosing <strong> [High-Sky Hotel]. </strong> We look forward to being part of your journey and helping you experience the best of our offers.</p>
    </div>
</body>
</html>