
h1 {
    text-align: center;
    color: #333;
}

body{
    background-color: lightgray;
}
.back_button{
    display: flex;
    justify-content: end; 
    padding: 6px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.link{
    color: rgb(155, 143, 155);
}